{% extends 'layouts/base.html' %} {% block titulo %} instalacion {% endblock %} {% block contenido %}
<h1>Instalacion</h1>

<form method="POST">
    <div class="col-md-4 mb-3">
        <label for="base_datos">Nombre de la base de datos</label>
        <input type="text" required class="form-control" id="base_datos" name="base_datos">
    </div>

    <div class="col-md-4 mb-3">
        <label for="usuario">Usuario</label>
        <input type="text" required class="form-control" id="usuario" name="usuario">
    </div>

    <div class="col-md-4 mb-3">
        <label for="contrasena">Contraseña</label>
        <input type="password" required class="form-control" id="contrasena" name="contrasena">
    </div>

    <div class="col-md-4 mb-3">
        <label for="host">Host</label>
        <input type="text" required class="form-control" id="host" name="host">
    </div>

    <div class="col-md-4 mb-3">
        <label for="puerto">Puerto</label>
        <input type="number" required class="form-control" id="puerto" name="puerto">
    </div>

    <button type="submit" class="btn btn-primary">Instalar</button>

</form>

{% endblock %}