{% extends 'layouts/base.html' %} {% block titulo %} Actualizar Producto {% endblock %} {% block contenido %}

<h1>Actualizar Producto</h1>

<form method="POST">
    <div class="mb-3">
        <label for="nombre">Nombre</label>
        <!-- #enlace label input -->
        <input type="text" required class="form-control" id="nombre" name="nombre">
    </div>

    <div class="mb-3">
        <label for="descripcion">Descripcion</label>
        <!-- #enlace label input -->
        <textarea rows="4" type="text" required class="form-control" id="descripcion" name="descripcion"></textarea>
    </div>

    <div class="mb-3">
        <label for="precio_compra">Precio Compra</label>
        <!-- #enlace label input -->
        <input type="number" required class="form-control" id="precio_compra" name="precio_compra">
    </div>

    <div class="mb-3">
        <label for="precio_venta">Precio Venta</label>
        <!-- #enlace label input -->
        <input type="number" required class="form-control" id="precio_venta" name="precio_venta">
    </div>

    <div class="mb-3">
        <label for="ganancia">Ganancia (%)</label>
        <!-- #enlace label input -->
        <input type="number" class="form-control" id="ganancia" name="ganancia">
    </div>

    <div class="mb-3">
        <label for="estado">Estado</label>
        <select class="form-control" required name="estado" id="estado">
            <option value="" disabled="disabled" selected="selected">seleccionar...</option>
            <option value="Activo">Activo</option>
            <option value="Inactivo">Inactivo</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Editar</button>

    <a href="{{url_for('productos')}}" class="btn btn-primary">Volver</a>
</form>

<script>
    //sirve para recuperar datos #
    let inputPrecioCompra = document.querySelector('#precio_compra')
    let inputPrecioVenta = document.querySelector('#precio_venta')
    let inputGanancia = document.querySelector('#ganancia')

    // escuchador de eventos change cuando cambia el elemto
    inputPrecioCompra.addEventListener('change', cambioPrecioCompra)

    function cambioPrecioCompra(e) {
        console.log('cambiando precio de compra')
    }

    inputPrecioVenta.addEventListener('change', cambioPrecioVenta)

    function cambioPrecioVenta(e) {
        //esta cambiand precio de venta
        let precio_venta = parseInt(inputPrecioVenta.value)
        let precio_compra = parseInt(inputPrecioCompra.value)
            //let ganancia = (precio_venta - precio_compra) / 100
        let ganancia = ((precio_venta - precio_compra) / precio_compra) * 100
        inputGanancia.value = ganancia
    }

    inputGanancia.addEventListener('change', cambioGanancia)

    function cambioGanancia(e) {
        let precio_compra = parseInt(inputPrecioCompra.value)
        let ganancia = parseInt(inputGanancia.value)
        let precio_venta = (precio_compra * (ganancia / 100)) + precio_compra
        inputPrecioVenta.value = precio_venta
    }
</script>
{% endblock %}